.page-header{
    background: linear-gradient(#002929,#0078AA);
    background-image: url('../../img/bg.png');
    background-size: cover;
}
.wd,.wm,.gd{
    font-family: 'Nunito'!important; 
    font-weight: 800;
    /* color:#00B5D1;
    background: -webkit-linear-gradient(#00FFFF,#0078AA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  */
} 