.page-header{
    background: linear-gradient(#002929,#0078AA);
    background-image: url('../../img/bg.jpg');
   
    background-size: 100%;
    background-size: cover; 
    box-shadow: 0 0 5px #1b1b1b;
}
.border-1{
    border:1px solid #fff;
}
 
.flow-left{
    position:absolute;
    left:50px;
    bottom: 100px!important;
    width:400px;
}

.flow-right{
    position: absolute;
    right:150px;
    bottom: 50px!important;
    width:400px;
}
  
@media only screen and (min-width: 600px) and (max-width: 1200px){
    .flow-left{
        position:absolute;
        left:0;
        bottom: 350px!important;
        width:300px;
    }
    
    .flow-right{
        position: absolute;
        right:0;
        bottom: 150px!important;
        width:300px;
    }
    .flow-left img, .flow-right img{
        width:300px;
    }
}
@media only screen and (max-width: 720px) and (min-width: 100px){
    .flow-left, .flow-right{
        display:none!important;
    }
}
